html {
  background-color: #EFECD3;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

body {
  background-color: #ffffff77;
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.volver-button {
  font-family: "Arial Black", sans-serif;
  font-weight: bold;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  background-color: #79787852;
  cursor: pointer;
  margin-top: 10px;
}

.volver-button:hover {
  background-color: #e4bf89;
}

#agregar-productos-page {
  padding: 20px;
  text-align: center;
}

#foto-preview {
  width: 200px;
  height: 200px;
  border: 2px dashed #ccc;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#foto-seleccionada {
  max-width: 100%;
  max-height: 100%;
}

#imagenes-predefinidas {
  margin: 20px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.categoria {
  margin: 10px;
  text-align: center;
}

.categoria h3 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}
#imagenes-predefinidas img {
  width: 100px;
  height: 100px;
  margin: 5px;
  cursor: pointer;
}

#imagenes-predefinidas img:hover {
  border: 2px solid #ccc;
}

/* Estilo con la paleta de colores */
h2 {
  color: #000000;
}

label {
  color: #333333;
}

select {
  background-color: #e8e8e8;
  color: #333333;
}

button {
  background-color: #bcd3d0;
  color: #333333;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #ffd90057;
}

img {
  border: 2px solid #e4bf89;
}